.appBar{
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.grid{
    display: flex;
    align-items: center;}
.grid item{
    padding-left: 10rem;
    padding-right: 10rem;
}
.stack{
    display: flex;
    flex-direction: row;
    align-items: center;
}